body {
    font-family: 'Yeseva One', cursive;
    background-image: url("assets/img/white_paper_texture_v2.png");
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 4%;
    color: rgba(8, 31, 45, 0.863);
}

.navbar-nav {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    font-size: 1.2em;
}

hr {
    width: 70%;
    margin: 0 auto 4em auto;
}

#pIntro {
    margin: 0 0 2% 10%;
    color: rgba(8, 31, 45, 0.863);
    font-size: 1.2em;
    font-style: italic;
}

.categoryTitle, h2 {
    margin: 1.2em auto 1.5em auto;
    text-align: center;
    color: rgba(8, 31, 45, 0.863);
    font-size: 2.5em;
}

.choice {
    text-align: center;
    font-size: 1.2em;
}

.NbArtChoice {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .NbArtChoice {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    }

.card-title {
    font-size: 1.8em;
}

img {
    width: 2em;
    margin-bottom: 5%;
    padding: 5%;
    border: 2px solid rgba(8, 31, 45, 0.863);
}

#personalPage {
    text-align: center;
    margin: 2em auto 1em auto;
}

legend {
    margin: 2% 0 2% 30%;
    font-size: 2em;
}

.choicesParameters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

label {
    font-size: 1.2em;
}

.NbArtIndex {
    margin-left: 10px;
}

button {
    width: 20%;
    margin: 5% 40%;
    background-color: rgba(8, 31, 45, 0.863); 
    border-radius: 29px; 
    border: 1px solid rgba(8, 31, 45, 0.863); 
    color: white; 
    font-size: 15px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
    }
    
button:hover { 
    background-color: white; 
    color: #081F2D; 
    border-color: #081F2D; 
    transition: 0.3s; 
   }